@page
@model Artifice_web.Pages.QuienesSomosModel
@{
    ViewData["Title"] = "Quiénes Somos";
}
<body>
    <div class="container-fluid" style="margin-top: 8rem;">
        <section class="mt-4 bg-artifice pe-3">
            <div class="row sectionSomo1">
                <div class="col-1"></div>
                <div class="col-lg-5 col-12 ps-lg--3 pt-lg-3 txtSobre">
                    <h2>Sobre Artifice</h2>
                    <p>Lo simplificamos en una frase, “el espacio es tuyo, el diseño interior es nuestro”. 
                        Por eso nos encanta ayudar a buscar la mejor solución que permita mejorar la calidad 
                        de vida de nuestros clientes a través de la creación de espacios armónicos y funcionales.
                    </p>
                    <p>
                        Artifice ofrece un soporte personalizado y junto a ellos, comercializamos productos que nos 
                        lleven a concretar y hacer realidad una idea, una solución. A esto nos dedicamos y es lo que 
                        hacemos muy bien, ya que es nuestra pasión y razón de ser. ¿Por qué una experiencia integral? 
                        En Artifice entendemos que el tiempo y la inversión de las personas son aspectos fundamentales, 
                        lo cual nos lleva a ofrecer productos de alta calidad para el diseño y la decoración de espacios generales, 
                        todo con el fin de hacer que el proceso de diseño se convierta en una experiencia viva de lo que somos como marca.
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-lg-3 imgSobre">
                    <img src="img/1somos.jpg" alt="nosotros" width="100%" height="100%">
                </div>
            </div>
        </section>
        <section class="mt-5 bg-artifice">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-lg-5 col-12 p-lg-3 imgMision">
                    <img src="img/2somos.jpg" alt="mision" width="85%" height="80%" class="ms-1" id="imgMision">
                </div>
                <div class="col-lg-5 col-12 pt-3 txtMision">
                    <h2>Misión</h2>
                    <p>
                        Transformar espacios en entornos inspiradores y funcionales, donde la belleza y la
                        funcionalidad son conceptos que trabajan de manera armoniosa. Nos
                        comprometemos a superar las expectativas de nuestros clientes a través de la
                        creatividad, la innovación y un servicio excepcional. Guiados por la pasión por el
                        diseño y la excelencia en la ejecución y calidad, creamos soluciones
                        personalizadas que reflejan la visión única de cada cliente.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-lg-5 col-12 p-lg-3">
                    <h2>Visión</h2>
                    <p>
                        Ser reconocidos como líderes en el mundo del diseño interior, la remodelación de
                        espacios y la arquitectura, marcando la pauta en la industria con nuestra
                        creatividad y experiencia. Buscamos inspirar y mejorar la vida de las personas a
                        través del diseño, dejando una huella positiva en cada proyecto que
                        emprendemos. Trabajamos incansablemente para expandir nuestro alcance,
                        construir relaciones sólidas y ser un referente en la transformación de espacios a
                        nivel nacional e internacional.
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-3">
                    <img src="img/3somos.jpg" alt="vision" width="80%" height="80%">
                </div>
            </div>
        </section>
        <section class="mt-3 bg-artifice">
            <div class="text-center mb-3">
                <h2>Valores empresariales</h2>
            </div>
            <div id="carouselQuienesSomos" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-4">
                      <div class="card" style="width: 80%;">
                        <img src="img/creatividad.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Creatividad</h5>
                          <p class="card-text">
                            Fomentamos la creatividad en cada proyecto, buscando
                            soluciones innovadoras y únicas para transformar espacios.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card" style="width: 80%;">
                        <img src="img/compromiso.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Compromiso con el Cliente</h5>
                          <p class="card-text">
                            Nos enfocamos en superar las expectativas de
                            nuestros clientes y satisfacer sus necesidades de manera excepcional.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card" style="width: 80%;">
                        <img src="img/calidad.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Calidad</h5>
                          <p class="card-text">
                            Buscamos la excelencia en cada detalle y nos esforzamos por entregar
                            resultados de alta calidad en todos nuestros proyectos.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                      <div class="col-4">
                        <img src="img/usuario1.png" class="card-img-top" alt="...">
                        <div class="card" style="width: 80%;">
                          <div class="card-body">
                            <h5 class="card-title">Integridad</h5>
                            <p class="card-text">
                              Actuamos con honestidad y transparencia en todas nuestras
                              interacciones, manteniendo la confianza de nuestros clientes y colaboradores.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <div class="card-body">
                            <h5 class="card-title">Pasión por el Diseño</h5>
                            <p class="card-text">
                              Nuestra pasión por el diseño y la arquitectura impulsa
                              nuestra dedicación y entusiasmo por cada proyecto.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <div class="card-body">
                            <h5 class="card-title">Sostenibilidad</h5>
                            <p class="card-text">
                              Nos comprometemos a adoptar prácticas sostenibles en nuestros
                              proyectos y a contribuir al cuidado del medio ambiente.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                      <div class="card" style="width: 80%;">
                        <div class="card-body">
                          <h5 class="card-title">Innovación</h5>
                          <p class="card-text">
                            Buscamos constantemente nuevas ideas y enfoques para
                            mantenernos a la vanguardia de la industria.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4"></div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselQuienesSomos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselQuienesSomos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </section>
        <section class="mt-3 bg-artifice">
            <div class="text-center">
                <h2>Nuestro equipo</h2>
            </div>
            <div id="carouselEquipo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 1</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 2</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 3</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 1</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 2</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 3</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                                    <div class="row">
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 1</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 2</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card" style="width: 80%;">
                          <img src="img/usuario1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Integrante 3</h5>
                            <p class="card-text">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iusto dolores, error commodi voluptas modi inventore qui fugit, itaque sequi corrupti optio velit eaque doloremque pariatur quia rem laborum. Assumenda!.
                            </p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselEquipo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselEquipo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </section>
    </div>
</body>