@page
@model Artifice_web.Pages.ServiciosModel
@{
}

<body>

    <div class="container-fluid" style="margin-top:144px;">
        <h3 class="display-4 font-weight-bold text-center">Otra sección fluid</h3>
    </div>

    <section>
        <div class="container-fluid bg-light mt-5">

            <div class="row text-md-center">

                <article class="col-12 col-md-6 col-lg-3 m-auto pt-5">

                    <div class="card">
                        <div class="card-title">
                            Proyecto 1
                        </div>
                        <img class="card-img-top" src="~/img/proyecto1.png" alt="Servicio 1" />
                        <div class="card-body">
                            <div class="card-text text-justify">
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                    se distraerá con el contenido del texto de un sitio mientras,
                                    Es un hecho establecido hace demasiado tiempo que un lector,
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                </p>
                               
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3"></label>
                            </div>
                        </div>
                    </div>

                </article>

                <article class="col-12 col-md-6 col-lg-3 m-auto pt-5">

                    <div class="card">
                        <div class="card-title">
                            Proyecto 1
                        </div>
                        <img class="card-img-top" src="~/img/proyecto1.png" alt="Proyecto 2" />
                        <div class="card-body">
                            <div class="card-text text-justify">
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                    se distraerá con el contenido del texto de un sitio mientras,
                                    Es un hecho establecido hace demasiado tiempo que un lector,
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                </p>
                               
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3"></label>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <div class="row text-md-center pt-4">
                <article class="col-12 col-md-6 col-lg-3 pb-5 m-auto">

                    <div class="card">
                        <div class="card-title">
                            Proyecto 1
                        </div>
                        <img class="card-img-top" src="~/img/proyecto1.png" alt="Proyecto 1" />
                        <div class="card-body">
                            <div class="card-text text-justify">
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                    se distraerá con el contenido del texto de un sitio mientras,
                                    Es un hecho establecido hace demasiado tiempo que un lector,
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                </p>
                                
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3"></label>
                            </div>
                        </div>
                    </div>

                </article>


                <article class="col-12 col-md-6 col-lg-3 pb-5 m-auto">


                    <div class="card">
                        <div class="card-title">
                            Proyecto 1
                        </div>
                        <img class="card-img-top" src="~/img/proyecto1.png" alt="Proyecto 1" />
                        <div class="card-body">
                            <div class="card-text text-justify">
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                    se distraerá con el contenido del texto de un sitio mientras,
                                    Es un hecho establecido hace demasiado tiempo que un lector,
                                    Es un hecho establecido hace demasiado tiempo que un lector
                                </p>
                             
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3"></label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

</body>